[Desktop Entry]
Version=1.0
Type=Application
Name=AppImage Manager
GenericName=AppImage Manager
Comment=Manage integrated AppImages
Exec=AppImageLauncherManager
Icon=appimagelauncher
Terminal=false
Categories=System;Settings;
Keywords=appimage;manager;launcher;
